 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
    background-image: url(/media/counter-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 #main{
     display: flex;
     flex-direction: column;
     width: 75%;
     height: 600px;
     color: white;
     margin: 20px;
     align-items: center;
     justify-content: space-around;
     outline: 3px solid white;
    

 }
 p{
     color: green;
     font-size: 72px;
 }

 button{
     background-color: rgb(12, 12, 39);
     color: white;
     padding: 5px;
     margin: 5px;
 }

a{
    text-decoration: none;
    color: white;
}
